<div class="row d3-2">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">System Notifications</div>
  <div class="col-sm-2">Performance Notifications</div>
  <div class="col-sm-1"><i class="fas fa-plus-square" (click)="routeTo()" style="font-size:20px"></i></div>
  <div class="col-sm-2">Rules</div>
  <div class="col-sm-1"><i class="fas fa-plus-square" (click)="routeTo()" style="font-size:20px"></i></div>
  <div class="col-2"></div>

  <div class="col-sm-1"></div>
  <div class="col-3 scrolling"><br>
    <mat-card class="example-card" *ngFor="let performs of systemNotification">
        <mat-card-header>
          <div class="col-10">
              {{performs}}
          </div>
          <div class="col-2">
              <button class="float-right" style="background:white; border-color: lightgreen;">
                  <i class="far fa-bell" style="color:green;"></i>
                </button>
          </div>
        </mat-card-header>
        <mat-card-content>
asdasd
        </mat-card-content>
        <mat-card-actions>
            <i class="fas fa-trash-alt"></i> &nbsp;
            <i class="fas fa-pen-square"></i>&nbsp;
            <i class="fas fa-play-circle"></i>&nbsp;
            <i class="far fa-clone"></i>&nbsp;
            <i class="fas fa-external-link-square"></i>
        </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-3 scrolling"><br>
    <mat-card class="example-card" *ngFor="let performs of performNotification">
        <mat-card-header>
          <div class="col-10">
              {{performs}}
          </div>
          <div class="col-2">
              <button class="float-right" style="background:white; border-color: lightgreen;">
                  <i class="far fa-bell" style="color:green;"></i>
                </button>
          </div>
        </mat-card-header>
        <mat-card-content>
asdasd
        </mat-card-content>
        <mat-card-actions>
            <i class="fas fa-trash-alt"></i> &nbsp;
            <i class="fas fa-pen-square" (click)="routeTo()"></i>&nbsp;
            <i class="fas fa-play-circle"></i>&nbsp;
            <i class="far fa-clone"></i>&nbsp;
            <i class="fas fa-external-link-square"></i>
        </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-3 scrolling"><br>
    <mat-card class="example-card" *ngFor="let performs of rules">
        <mat-card-header>
          <div class="col-10">
              {{performs}}
          </div>
          <div class="col-2">
              <button class="float-right" style="background:white; border-color: lightgreen;">
                  <i class="far fa-bell" style="color:green;"></i>
                </button>
          </div>
        </mat-card-header>
        <mat-card-content>
asdasd
        </mat-card-content>
        <mat-card-actions>
            <i class="fas fa-trash-alt"></i> &nbsp;
            <i class="fas fa-pen-square"></i>&nbsp;
            <i class="fas fa-play-circle"></i>&nbsp;
            <i class="far fa-clone"></i>&nbsp;
            <i class="fas fa-external-link-square"></i>
        </mat-card-actions>
    </mat-card>
  </div>
</div>