<mat-card class="example-card">
    <ul>
      <li><img width="110px" alt="Angular Logo" src="../assets/deltaX.jpg"></li>
        <li><a routerLink="/common"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a routerLink="/common"><i class="fas fa-desktop"></i> Ad Server</a></li>
        <li><a routerLink="/common"><i class="fas fa-server"></i> Reporting</a></li>
        <li><a routerLink="/common"><i class="fas fa-wrench"></i> Tools</a></li>
        <li><a routerLink="/common"><i class="fas fa-cogs"></i> Settings</a></li>
        <li class="rightli" ><a routerLink="/common"><i class="fas fa-user-circle"></i>&nbsp;<i class="fas fa-sort-down"></i></a></li>
        <li class="rightli" ><a routerLink="/common"><i class="far fa-comments"></i></a></li>
        <li class="rightli" ><a routerLink="/notification"><i class="far fa-bell"></i></a></li>
        <li class="rightli" ><a routerLink="/common">Advertiser <i class="fas fa-sort-down"></i></a></li>
      </ul>
</mat-card>
<mat-card class="example-card"id="matcard">
  <router-outlet></router-outlet>
</mat-card>